@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;800&display=swap");
html {
  /* 
      https://www.freecodecamp.org/news/override-root-font-size-for-a-better-user-experience/
      browser default font size: 16px
      10px/16px = 0.625 -> 62.5% 
      百分比可以套用所有 root px，因為 root px 會變動
      rem = root font size 
  */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #ffffff;
}

.weight-light {
  font-weight: 100;
}

.weight-normal {
  font-weight: 300;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: 800;
}

.text-primary {
  color: #4d13d1;
}

.btn {
  cursor: pointer;
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 800;
  background-color: #4d13d1;
  color: #ffffff;
  border: 1px solid #6c6c6c;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn--small {
  width: 15rem;
  height: 4rem;
}
.btn:hover {
  background-color: #7855ca;
  border: 1px solid #beb9b8;
}

.line-btn {
  cursor: pointer;
  width: 20rem;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  background-color: #ffffff;
  color: #4d13d1;
  border: 1px solid #beb9b8;
  transition: all 0.7s;
}
.line-btn--small {
  width: 15rem;
  height: 4rem;
}
.line-btn:hover {
  background-color: #4d13d1;
  color: #ffffff;
}

.base__container {
  width: 100%;
  display: flex;
  align-items: start;
  font-size: 2rem;
  padding: 2rem 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fbf8f3;
}
header .header__container {
  width: 100%;
  font-size: 2rem;
}
header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
header .nav__logo {
  cursor: pointer;
}
header .nav__logo:hover {
  color: #4d13d1;
}
header .nav__btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
header .nav__item {
  cursor: pointer;
  padding: 0 2rem;
  color: #6c6c6c;
  font-weight: 500;
}
header .nav__item:hover {
  color: #beb9b8;
}

.section-1 {
  display: flex;
  justify-content: center;
  background-color: #fbf8f3;
  padding: 1rem 3rem;
}
.section-1 .section__container {
  display: flex;
  align-items: start;
}
.section-1 .article {
  flex: 1.2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.section-1 .article__title {
  font-size: 5rem;
  font-weight: 800;
}
.section-1 .article__sub {
  font-size: 2.8rem;
  color: #6c6c6c;
}
.section-1 .article__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.section-1 .img {
  height: 100%;
  display: flex;
  align-items: center;
}
.section-1 .img__square {
  position: relative;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1rem solid #ffffff;
}
.section-1 .img__kaka {
  width: 100%;
  height: auto;
  margin-top: -8%;
}

.section-2 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 1rem 3rem;
}
.section-2 .section__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 8rem 0;
  gap: 3rem;
}
.section-2 .title {
  font-size: 3rem;
  font-weight: 800;
  max-width: 500px;
}
.section-2 .cards {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.section-2 .card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-2 .card__icon {
  width: 4rem;
}
.section-2 .card__title {
  font-weight: 800;
}
.section-2 .card__sub {
  color: #6c6c6c;
  line-height: 1.4;
}

.section-3 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 0rem 3rem;
  border-radius: 2rem;
  background-color: #4d13d1;
  color: #ffffff;
}
.section-3 .section__container {
  padding: 10rem 0 0 0;
  gap: 2rem;
}
.section-3 .article {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section-3 .article__title {
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 10rem;
}
.section-3 .article__sub {
  width: 80%;
  line-height: 1.6;
  font-weight: 300;
}
.section-3 .article__btns--free {
  background-color: #ffffff;
  color: #4d13d1;
}
.section-3 .article__btns--free:hover {
  background-color: #7855ca;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.section-3 .img {
  width: 60%;
}

.section-4 {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 1rem 3rem;
}
.section-4 .section__container {
  display: flex;
  padding: 8rem 0rem;
  gap: 3rem;
  overflow: hidden;
}
.section-4 .card {
  border: 1px solid #beb9b8;
  min-width: 33rem;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 3rem;
  gap: 2rem;
  border-radius: 2rem;
}
.section-4 .card__head {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.section-4 .card__head__text {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-4 .card__head__name {
  color: #4d13d1;
}
.section-4 .card__head__money {
  font-size: 1.5rem;
}
.section-4 .card__msg {
  line-height: 1.5;
  flex: 2;
}
.section-4 .card__btn {
  width: 100%;
  min-height: 5rem;
  background-color: #ffffff;
  color: #4d13d1;
  border: 1px solid #beb9b8;
}
.section-4 .card__btn:hover {
  background-color: #4d13d1;
  color: #ffffff;
}
.section-4 .fa-solid {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  color: #4d13d1;
}
.section-4 .fa-solid:hover {
  color: #7855ca;
}
.section-4 .fa-circle-chevron-left {
  top: calc(50% - 1.5rem);
  left: 1.5rem;
}
.section-4 .fa-circle-chevron-right {
  top: calc(50% - 1.5rem);
  right: 1.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #fbf8f3;
  padding: 1rem 3rem;
}
.footer__container {
  display: flex;
  align-items: start;
  gap: 2rem;
}
.footer__article {
  flex: 1;
}
.footer__links {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
