// color
$bg-color-primary: #fbf8f3;
$bg-color-secondary: #ffffff;
$bg-color-third: #4d13d1;


$color-primary: #4d13d1;
$color-secondary: #7855ca;

$color-white: #ffffff;
$color-dark: #251c3b;
$color-light-grey: #beb9b8;
$color-dark-grey: #6c6c6c;

// font
$font-size-default: 2rem;



// font weight
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-bold: 800;

// padding
$section-padding: 1rem 3rem;
$section-padding-left-right: 0rem 3rem;
$section-padding-top-bottom: 8rem 0rem;

// icon
$icon-size-arrow: 3rem;