.section-2 {
    display: flex;
    justify-content: center;
    background-color: $bg-color-secondary;
    padding: $section-padding;

    .section__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // font-size: $font-size-default;
        padding: $section-padding-top-bottom;
        gap: 2rem;
    }

    .title {
        // width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2.8rem;
        font-weight: $font-weight-bold;
        

    }

    .article {
        width: 80%;
        // display: flex;
        // justify-content: center;
        text-align: center;
        line-height: 1.8;
        
    }

    .cards {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
        

    }

    .card {
        position: relative;
        // flex: 1;
        min-width: 28rem;
        height: 25rem;
        padding: 2rem;

        // 3D 透視
        perspective: 150rem; // 值越小，视角越深。
        -moz-perspective: 150rem;

        
        &__side {
            position: absolute;
            top: 0;
            left: 0;
            // flex: 1;
            min-width: 28rem;
            height: 25rem;
            padding: 3rem;
            border: 0.1rem solid $color-light-grey;
            border-radius: 2rem;

            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            overflow: hidden;
            backface-visibility: hidden; // 背面不透視
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            transition: all .8s ease;

            &--front {
                background-color: $bg-color-secondary;
            }

            &--back {
                background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
                color: $color-white;
                transform: rotateY(180deg);
                line-height: 1.6;
                ol {
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
        }

        &:hover {
            .card__side--front {
                transform: rotateY(-180deg);
            }
        }
    
        &:hover {
            .card__side--back {
                transform: rotateY(0deg);
            }
        }
    
        &__title {
            &--1 {
                font-weight: $font-weight-bold;
                color: $color-primary;
            }
            &--2 {
                font-size: 1.8rem;
                font-weight: $font-weight-medium;
            }
        }

        
        &__sub {
            color: $color-dark-grey;
            line-height: 1.4;
            font-size: 1.8rem;
        }
    }


    

    
}